
/**
	* Stylesheet for Noter.
	* @link     https://github.com/Tinram/noter.git
*/

html * {margin:0; padding:0;}
body {font:0.83em verdana,arial,helvetica,freesans,sans-serif; background:#fff; color:#000; margin:3em 4em 4em 4em;}

h1 {margin:20px 0; font-size:1.1em;}
h1#indextitle {position:relative;}
a {text-decoration:none; display:block; font-weight:bold; color:#000;}
a:hover {text-decoration:underline;}
a:focus {outline:none;}
a#index:visited {color:#000;}
a#edit {font-size:12px; font-weight:normal; position:absolute; top:2px; left:54px;}
a#edit:hover {text-decoration:none;}

/* form containers */
div#fsearchcont {width:250px; margin:0 150px 25px 0; float:left;}
div#faddcont {width:700px;}
div#fupdatecont {}

/* forms */
form div {margin:6px 0; padding:1px 0; height:25px; clear:both;}
form label {float:left; position:relative; top:3px;}
form label#searchlabel {}
div#radiocont {float:right; margin-right:80px;}
div#radiocont label {float:none; font-size:11px; margin:0 3px 0 8px; position:relative; top:-8px;}
div#radiocont input {float:none;}
form input, textarea {font:1.0em verdana,arial,sans-serif; float:right; border:1px solid #ccc; border-radius:5px; background:#d5b4b4; padding:2px; background:linear-gradient(to top, #d5b4b4, #ffffff 80%); height:20px;}
input[type="submit"] {color:#444; background:#f7ffff; font-weight:bold; text-align:center; margin-top:5px; padding-bottom:2px; height:26px; background:linear-gradient(to bottom, #ffffff, #d5b4b4 100%);}
input[type="submit"]:hover {background:#966; color:#fff; cursor:pointer;}
input#term {float:left;}
input#searchbut {width:60px; position:relative; top:-5px; margin-left:2px; float:right;}

/* output */
div#linecont {clear:both;}
div.rde {font-size:1.2em; margin:0 0 4px 0;}
div.ren {font-size:1.0em; color:#444; margin:0 0 20px 0;}
div.ts {font-size:0.7em; color:#999; margin:-16px 0 20px 0;}

/* add */
div#faddcont {margin:0 0 50px 0;}
div#faddcont div#tacont {height:70px;}
div#faddcont input, textarea {width:625px;}
div#faddcont textarea {height:60px;}
div#faddcont input[type="submit"] {width:60px;}

/* update and delete forms */
div#fupdatecont {margin-top:60px; clear:both;}
span#update_note_heading {margin-left:152px;}
form.fupdate {width:870px; margin:0 0 5px 0;}
form.fupdate input, form.fupdate textarea {float:left; width:375px; margin-right:6px;}
form.fupdate input#update_title {width:160px;}
form.fupdate input.updatebut {width:80px !important; position:relative; top:-5px;}

/* messages */
.success {color:#900;}
.fade {color:#900; font-weight:bold; visibility:hidden; opacity:0; transition:visibility 0s 15s, opacity 2s linear;}

/* errors */
.error {color:#c00; font-weight:bold; margin-top:40px;}
p#fserror {clear:both; height:16px;}
noscript p {color:#c00; margin-bottom:15px;}
